{% extends 'mapviewer/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div style="text-align: center; max-width: 800px; margin: 0 auto;">
    <h1 style="margin-bottom: 30px;">Catálogo Nacional de Emisiones de CO2</h1>
    <h2 style="margin-bottom: 25px;">UNAM: Universidad Nacional Autónoma de México.</h2>
    <h3 style="margin-bottom: 25px;">Instituto de Geofísica. Departamento de Recursos Nacionales.</h3>
    <p style="margin-bottom: 25px;">
        Este proyecto es un esfuerzo colectivo por recolectar datos y generar datos geolocalizados 
        con el fin de generar un inventario nacional de emisiones de CO2. 
        A través de la barra de navegación lateral es posible acceder a las diferentes páginas, mapas y contenido relacionado.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
{% endblock %}

