<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b65d7cbf0fde6b636df06d008f8bbfef {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b65d7cbf0fde6b636df06d008f8bbfef" ></div>
        
</body>
<script>
    
    
            var map_b65d7cbf0fde6b636df06d008f8bbfef = L.map(
                "map_b65d7cbf0fde6b636df06d008f8bbfef",
                {
                    center: [23.5, -100.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8f8f2806d56d4de5874546b03bd65747 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_8f8f2806d56d4de5874546b03bd65747.addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var marker_51b731845a471cb60ae20a7de977bfdc = L.marker(
                [19.945517638573506, -98.1342090794785],
                {}
            ).addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var icon_3939b56bf630638594b9f616d9d0feb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_51b731845a471cb60ae20a7de977bfdc.setIcon(icon_3939b56bf630638594b9f616d9d0feb4);
        
    
        var popup_77f1788c19bc0da1e26b844a5136ead3 = L.popup({"maxWidth": "100%"});

        
            
                var html_77799d355410b8f2246673261ca40e15 = $(`<div id="html_77799d355410b8f2246673261ca40e15" style="width: 100.0%; height: 100.0%;">P_Acoculco</div>`)[0];
                popup_77f1788c19bc0da1e26b844a5136ead3.setContent(html_77799d355410b8f2246673261ca40e15);
            
        

        marker_51b731845a471cb60ae20a7de977bfdc.bindPopup(popup_77f1788c19bc0da1e26b844a5136ead3)
        ;

        
    
    
            var marker_066976c6953d27e7cc5710d3b2787d9f = L.marker(
                [19.938287335451456, -98.1403903008043],
                {}
            ).addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var icon_bc866cc5b2504e6cfa2973eced573b35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_066976c6953d27e7cc5710d3b2787d9f.setIcon(icon_bc866cc5b2504e6cfa2973eced573b35);
        
    
        var popup_049a8290e3d819ca5b5c497d29b572e3 = L.popup({"maxWidth": "100%"});

        
            
                var html_d31833161f79783addf55b7a8b058450 = $(`<div id="html_d31833161f79783addf55b7a8b058450" style="width: 100.0%; height: 100.0%;">P_Alcaparrosa</div>`)[0];
                popup_049a8290e3d819ca5b5c497d29b572e3.setContent(html_d31833161f79783addf55b7a8b058450);
            
        

        marker_066976c6953d27e7cc5710d3b2787d9f.bindPopup(popup_049a8290e3d819ca5b5c497d29b572e3)
        ;

        
    
    
            var marker_a4fb96170b2120b79b6e961ed617ed21 = L.marker(
                [19.922608931287755, -98.1446972068743],
                {}
            ).addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var icon_f2241a1bd821454c72e1afea9ddc2ef5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a4fb96170b2120b79b6e961ed617ed21.setIcon(icon_f2241a1bd821454c72e1afea9ddc2ef5);
        
    
        var popup_292d705d56d58b5f784f81054b493ec6 = L.popup({"maxWidth": "100%"});

        
            
                var html_af1e8f0d5690c76d6d943d5ab68c5110 = $(`<div id="html_af1e8f0d5690c76d6d943d5ab68c5110" style="width: 100.0%; height: 100.0%;">P_Azufres</div>`)[0];
                popup_292d705d56d58b5f784f81054b493ec6.setContent(html_af1e8f0d5690c76d6d943d5ab68c5110);
            
        

        marker_a4fb96170b2120b79b6e961ed617ed21.bindPopup(popup_292d705d56d58b5f784f81054b493ec6)
        ;

        
    
    
            var marker_fa7d918b0151376bb2a75d4658d2f61e = L.marker(
                [19.08627758098732, -99.1271971420124],
                {}
            ).addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var icon_723b923d195a039815d1bd29d6db7ca0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fa7d918b0151376bb2a75d4658d2f61e.setIcon(icon_723b923d195a039815d1bd29d6db7ca0);
        
    
        var popup_fc6ac6c2a5486ac4f1baa6d049b75161 = L.popup({"maxWidth": "100%"});

        
            
                var html_e62f3f04c0c0bb8c2f63f7fce4b3ea21 = $(`<div id="html_e62f3f04c0c0bb8c2f63f7fce4b3ea21" style="width: 100.0%; height: 100.0%;">P_Chichinautzin</div>`)[0];
                popup_fc6ac6c2a5486ac4f1baa6d049b75161.setContent(html_e62f3f04c0c0bb8c2f63f7fce4b3ea21);
            
        

        marker_fa7d918b0151376bb2a75d4658d2f61e.bindPopup(popup_fc6ac6c2a5486ac4f1baa6d049b75161)
        ;

        
    
    
            var marker_fa0efc052eb1e3c908cfb3855a6236cb = L.marker(
                [19.59937443895357, -101.03290674004415],
                {}
            ).addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var icon_d2d7077ffca8118663c725afe87a2f7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fa0efc052eb1e3c908cfb3855a6236cb.setIcon(icon_d2d7077ffca8118663c725afe87a2f7e);
        
    
        var popup_35db0530b69b3a1eb3140df7462a0aa8 = L.popup({"maxWidth": "100%"});

        
            
                var html_eaebeb76754c114bceada1953026c088 = $(`<div id="html_eaebeb76754c114bceada1953026c088" style="width: 100.0%; height: 100.0%;">P_Escalera</div>`)[0];
                popup_35db0530b69b3a1eb3140df7462a0aa8.setContent(html_eaebeb76754c114bceada1953026c088);
            
        

        marker_fa0efc052eb1e3c908cfb3855a6236cb.bindPopup(popup_35db0530b69b3a1eb3140df7462a0aa8)
        ;

        
    
    
            var marker_79c52e6645e5dfa89c2d4dd7a540f68e = L.marker(
                [19.329928048541866, -96.30251214624522],
                {}
            ).addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var icon_55a802feb388fe0bae17c2e789407e96 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_79c52e6645e5dfa89c2d4dd7a540f68e.setIcon(icon_55a802feb388fe0bae17c2e789407e96);
        
    
        var popup_fd14e7acf5c38e4f3ebe486effe59fd2 = L.popup({"maxWidth": "100%"});

        
            
                var html_a1b7991454badb47138d3072eff424ca = $(`<div id="html_a1b7991454badb47138d3072eff424ca" style="width: 100.0%; height: 100.0%;">P_Michoa</div>`)[0];
                popup_fd14e7acf5c38e4f3ebe486effe59fd2.setContent(html_a1b7991454badb47138d3072eff424ca);
            
        

        marker_79c52e6645e5dfa89c2d4dd7a540f68e.bindPopup(popup_fd14e7acf5c38e4f3ebe486effe59fd2)
        ;

        
    
    
            var marker_e8ddc3c58ae886a27c394671ba0414be = L.marker(
                [20.088816962773418, -101.49355905556486],
                {}
            ).addTo(map_b65d7cbf0fde6b636df06d008f8bbfef);
        
    
            var icon_eff2ac79b45f36d9f6699c91ed2f3352 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e8ddc3c58ae886a27c394671ba0414be.setIcon(icon_eff2ac79b45f36d9f6699c91ed2f3352);
        
    
        var popup_49e832deed2ab44f76f54e875f9ce241 = L.popup({"maxWidth": "100%"});

        
            
                var html_84a8db72d7343da6a9c64fbb5cd22944 = $(`<div id="html_84a8db72d7343da6a9c64fbb5cd22944" style="width: 100.0%; height: 100.0%;">P_Puruandiro</div>`)[0];
                popup_49e832deed2ab44f76f54e875f9ce241.setContent(html_84a8db72d7343da6a9c64fbb5cd22944);
            
        

        marker_e8ddc3c58ae886a27c394671ba0414be.bindPopup(popup_49e832deed2ab44f76f54e875f9ce241)
        ;

        
    
</script>
</html>