<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c9e619c6667f496cbc33d442ff26292e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c9e619c6667f496cbc33d442ff26292e" ></div>
        
</body>
<script>
    
    
            var map_c9e619c6667f496cbc33d442ff26292e = L.map(
                "map_c9e619c6667f496cbc33d442ff26292e",
                {
                    center: [23.5, -100.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f57c130804c3d57f479538b5debe1397 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_f57c130804c3d57f479538b5debe1397.addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var marker_2def2438e028c7d5119a28fe265f9e36 = L.marker(
                [19.945517638573506, -98.1342090794785],
                {}
            ).addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var icon_6b076562a3a079d8898cba474a3d1ea8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2def2438e028c7d5119a28fe265f9e36.setIcon(icon_6b076562a3a079d8898cba474a3d1ea8);
        
    
        var popup_02e13a85e2c7fd1b3d6f0a630f4c3f1a = L.popup({"maxWidth": "100%"});

        
            
                var html_e3371b227da47b626e277d250a774a19 = $(`<div id="html_e3371b227da47b626e277d250a774a19" style="width: 100.0%; height: 100.0%;">P_Acoculco</div>`)[0];
                popup_02e13a85e2c7fd1b3d6f0a630f4c3f1a.setContent(html_e3371b227da47b626e277d250a774a19);
            
        

        marker_2def2438e028c7d5119a28fe265f9e36.bindPopup(popup_02e13a85e2c7fd1b3d6f0a630f4c3f1a)
        ;

        
    
    
            var marker_c2a7fc86404ae8f2ca69833572643a67 = L.marker(
                [19.938287335451456, -98.1403903008043],
                {}
            ).addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var icon_f23b8cfbea3a04f5164447afb7e5ddc0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c2a7fc86404ae8f2ca69833572643a67.setIcon(icon_f23b8cfbea3a04f5164447afb7e5ddc0);
        
    
        var popup_016f8739a7fa033020af7ebe7f4a8678 = L.popup({"maxWidth": "100%"});

        
            
                var html_64297746df50fa56d6ed7fd83149578c = $(`<div id="html_64297746df50fa56d6ed7fd83149578c" style="width: 100.0%; height: 100.0%;">P_Alcaparrosa</div>`)[0];
                popup_016f8739a7fa033020af7ebe7f4a8678.setContent(html_64297746df50fa56d6ed7fd83149578c);
            
        

        marker_c2a7fc86404ae8f2ca69833572643a67.bindPopup(popup_016f8739a7fa033020af7ebe7f4a8678)
        ;

        
    
    
            var marker_09658d3fa57cb23faefd1c4344f1e153 = L.marker(
                [19.922608931287755, -98.1446972068743],
                {}
            ).addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var icon_4b509474a588a77298978e2aff28b2ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_09658d3fa57cb23faefd1c4344f1e153.setIcon(icon_4b509474a588a77298978e2aff28b2ff);
        
    
        var popup_daa0c2cb16c138bc7a1d6e30df765147 = L.popup({"maxWidth": "100%"});

        
            
                var html_2946acceecae1eb4ef589704b14d39f0 = $(`<div id="html_2946acceecae1eb4ef589704b14d39f0" style="width: 100.0%; height: 100.0%;">P_Azufres</div>`)[0];
                popup_daa0c2cb16c138bc7a1d6e30df765147.setContent(html_2946acceecae1eb4ef589704b14d39f0);
            
        

        marker_09658d3fa57cb23faefd1c4344f1e153.bindPopup(popup_daa0c2cb16c138bc7a1d6e30df765147)
        ;

        
    
    
            var marker_b6f8563eeebe26e9185426bb3465df05 = L.marker(
                [19.08627758098732, -99.1271971420124],
                {}
            ).addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var icon_5b2371f60c53b7f542f858777fbe1a8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b6f8563eeebe26e9185426bb3465df05.setIcon(icon_5b2371f60c53b7f542f858777fbe1a8f);
        
    
        var popup_e2fad8ae17dba39c2af8fe396ef5ceb2 = L.popup({"maxWidth": "100%"});

        
            
                var html_0c37629ff38ec797523e9f1dc0b5a493 = $(`<div id="html_0c37629ff38ec797523e9f1dc0b5a493" style="width: 100.0%; height: 100.0%;">P_Chichinautzin</div>`)[0];
                popup_e2fad8ae17dba39c2af8fe396ef5ceb2.setContent(html_0c37629ff38ec797523e9f1dc0b5a493);
            
        

        marker_b6f8563eeebe26e9185426bb3465df05.bindPopup(popup_e2fad8ae17dba39c2af8fe396ef5ceb2)
        ;

        
    
    
            var marker_218dcee7edd25f7a7a681b8bd08ffc7b = L.marker(
                [19.59937443895357, -101.03290674004415],
                {}
            ).addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var icon_63c98ec204b9e497129146114b49f670 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_218dcee7edd25f7a7a681b8bd08ffc7b.setIcon(icon_63c98ec204b9e497129146114b49f670);
        
    
        var popup_26471e41d4b96d0db135f33a5a749c3e = L.popup({"maxWidth": "100%"});

        
            
                var html_2dc811bed50c245a159c8fab09932454 = $(`<div id="html_2dc811bed50c245a159c8fab09932454" style="width: 100.0%; height: 100.0%;">P_Escalera</div>`)[0];
                popup_26471e41d4b96d0db135f33a5a749c3e.setContent(html_2dc811bed50c245a159c8fab09932454);
            
        

        marker_218dcee7edd25f7a7a681b8bd08ffc7b.bindPopup(popup_26471e41d4b96d0db135f33a5a749c3e)
        ;

        
    
    
            var marker_9d420f1ccd77f58582f4e5e040a237a1 = L.marker(
                [19.329928048541866, -96.30251214624522],
                {}
            ).addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var icon_661701d6fa602249c0127dcbb8d2b0da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9d420f1ccd77f58582f4e5e040a237a1.setIcon(icon_661701d6fa602249c0127dcbb8d2b0da);
        
    
        var popup_f86ef5dc10f7038106465fb0b3977abb = L.popup({"maxWidth": "100%"});

        
            
                var html_3ce6a4e15d6ddb7c3d203fec6204915c = $(`<div id="html_3ce6a4e15d6ddb7c3d203fec6204915c" style="width: 100.0%; height: 100.0%;">P_Michoa</div>`)[0];
                popup_f86ef5dc10f7038106465fb0b3977abb.setContent(html_3ce6a4e15d6ddb7c3d203fec6204915c);
            
        

        marker_9d420f1ccd77f58582f4e5e040a237a1.bindPopup(popup_f86ef5dc10f7038106465fb0b3977abb)
        ;

        
    
    
            var marker_4986a0202055938ffed0e1c5aedbf005 = L.marker(
                [20.088816962773418, -101.49355905556486],
                {}
            ).addTo(map_c9e619c6667f496cbc33d442ff26292e);
        
    
            var icon_f2ad3fb6ee6fad74e735999532a6845e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4986a0202055938ffed0e1c5aedbf005.setIcon(icon_f2ad3fb6ee6fad74e735999532a6845e);
        
    
        var popup_61b0f7f4f45834cb592de57fefddbd0a = L.popup({"maxWidth": "100%"});

        
            
                var html_420a0b79039a45e4e417d8f0982d62e6 = $(`<div id="html_420a0b79039a45e4e417d8f0982d62e6" style="width: 100.0%; height: 100.0%;">P_Puruandiro</div>`)[0];
                popup_61b0f7f4f45834cb592de57fefddbd0a.setContent(html_420a0b79039a45e4e417d8f0982d62e6);
            
        

        marker_4986a0202055938ffed0e1c5aedbf005.bindPopup(popup_61b0f7f4f45834cb592de57fefddbd0a)
        ;

        
    
</script>
</html>